/**
 * Helium Calendar styles
**/
.he-calendar {
  background: white;
  border: solid 1px #616161;
  color: rgba(100, 100, 100, 1);
  padding: 0.2em;
  width: 20em;
  height: 16em;
  box-sizing: border-box;
}

.he-calendar *::selection {
  background: transparent;
}

.he-calendar *::-moz-selection {
  background: transparent;
}

.he-calendar > div {
  vertical-align: middle;
}

.he-calendar .he-years {
  display: inline-block;
  background: white;
}

.he-calendar .he-months {
  display: inline-block;
  background: white;
}

.he-calendar .he-dates {
  display: inline-block;
  background: white;
  margin-left: 0.5em;
}

.he-calendar .he-years, .he-calendar .he-months {
  width: 2.6em;
  padding: 0.1em;
  text-align: center;
}

.he-calendar .he-months > div, .he-calendar .he-years > div {
  height: 1.26em;
  cursor: pointer;
}

.he-calendar .he-years > div > svg {
  position: relative;
  top: -0.2em;
  width: 1.5em;
  height: 1.5em;
  fill: rgba(100, 100, 100, 1);
  
  /* Required so that a click will have its parent as a target */
  pointer-events: none;
}

.he-calendar .he-dates table {
  border-spacing: 0;
}

.he-calendar .he-dates td {
  padding: 0.3em;
  text-align: center;
  cursor: pointer;
  border: solid 2px transparent;
}

.he-calendar .he-dates th {
  font-weight: bold;
  text-align: center;
}


.he-calendar .he-years .he-active {
  background-color: rgba(86, 119, 252, 1);
  color: white;
}

.he-calendar .he-months .he-active {
  background-color: rgba(86, 119, 252, 1);
  color: white;
}

.he-calendar .he-dates td.he-active {
  color: rgba(86, 119, 252, 1);
  font-weight: bold;
  border-bottom-color: rgba(86, 119, 252, 1);
}


/* floating datepickers */
.he-box.he-calendar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}